{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="wrapper">
        <h1>Coimages</h1>
        <div class="wrap">
            <span>Currently: <a href="{{coimages.image.url}}">{{coimages.image}}
                            </a></span>
            <form action="{% url 'coimagesedit' coimages.id %}" method="post" enctype="multipart/form-data" class="my_unique_form">
                {% csrf_token %}
                <span>Change: <input name="image" id='file' type="file" class="first_input_unique"></span><hr width="100%">
                <div class="my_btns">
                    <button class="my_uniquebtn">Save</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}