{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="wrapper">
        <h1>Our Auidence</h1>
        <div class="wrap">
            <form action="{% url 'ouraudiencecreate' %}" method="post" enctype="multipart/form-data" class="my_unique_form">
                {% csrf_token %}
                <span>Video: <input name="image" id='file' type="file" class="first_input_unique" required></span><hr width="100%">
                <span><input name="name" type="text" placeholder="name"  class="input_unique" required></span><hr width="100%">
                <span><input name="name_ru" type="text" placeholder="name Ru"  class="input_unique" required></span><hr width="100%">
                <span><input name="name_en" type="text" placeholder="name En"  class="input_unique" required></span><hr width="100%">

                <span><input name="text" type="text" placeholder="text"  class="input_unique" required></span><hr width="100%">
                <span><input name="text_ru" type="text" placeholder="text Ru"  class="input_unique" required></span><hr width="100%">
                <span><input name="text_en" type="text" placeholder="text En"  class="input_unique" required></span><hr width="100%">

                <div class="my_btns">
                    <button class="my_uniquebtn">Save</button>
                </div>
            </form>
        </div>
    </div>
    <script>
      </script>
    {% endblock %}