{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="wrapper">
        <h1>Postal Services</h1>
        <div class="wrap">
            <form action="{% url 'postalservicescreate' %}" method="post" enctype="multipart/form-data" class="my_unique_form">
                {% csrf_token %}
                <span>Image: <input name="image" id='file' type="file" class="first_input_unique" required></span><hr width="100%">
                
                <div class="my_btns">
                    <button class="my_uniquebtn">Save</button>
                </div>
            </form>
        </div>
    </div>
    <script>
      </script>
    {% endblock %}