{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="wrapper">
        <h1>Slider</h1>
        <div class="wrap">
            <form action="{% url 'slidercreate' %}" method="post" enctype="multipart/form-data" class="my_unique_form">
                {% csrf_token %}
                <span>Video: <input name="video" id='file' type="file" class="first_input_unique" required></span><hr width="100%">
                <span><input name="title" type="text" placeholder="Title"  class="input_unique" required></span><hr width="100%">
                <span><input name="title_ru" type="text" placeholder="Title Ru"  class="input_unique" required></span><hr width="100%">
                <span><input name="title_en" type="text" placeholder="Title En"  class="input_unique" required></span><hr width="100%">
                <div class="my_btns">
                    <button class="my_uniquebtn">Save</button>
                </div>
            </form>
        </div>
    </div>
    <script>
      </script>
    {% endblock %}